[defaults]
inventory = inventory.ini
roles_path = roles
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent
forks = 10
gathering = smart

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s
